<h1 class="mb-1 restaurant-new-title">新增餐廳</h1>
<div class="container">
  <form action="/restaurants/new" id="form" method="post" novalidate>
    <div class="mb-3">
      <label for="restaurant-id" class="form-label">餐廳 ID</label>
      <input type="text" class="form-control" name="id" id="restaurant-id" placeholder="1" required>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <label for="restaurant-name" class="form-label">餐廳名稱</label>
      <input type="text" class="form-control" id="restaurant-name" name="name" placeholder="盧布朗咖啡" required>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <label for="restaurant-en-name" class="form-label">餐廳英文名稱</label>
      <input type="text" class="form-control" id="restaurant-en-name" name="name_en"
      placeholder="Cafe LeBlanc" required>
    </div>
    <div class="mb-3">
      <label for="restaurant-category" class="form-label">分類</label>
      <select name="category" id="restaurant-category" class="form-select" required>
        <option selected>選擇一種類別</option>
        <option value="中東料理">中東料理</option>
        <option value="日本料理">日本料理</option>
        <option value="義式餐廳">義式餐廳</option>
        <option value="美式餐廳">美式餐廳</option>
        <option value="台灣料理">台灣料理</option>
        <option value="中國料理">中國料理</option>
        <option value="酒吧">酒吧</option>
        <option value="咖啡">咖啡</option>
        <option value="其他">其他</option>
      </select>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <label for="restaurant-image" class="form-label">圖片</label>
      <input type="url" class="form-control" id="restaurant-image" name="image" placeholder="提供圖片網址" required>
    </div>
    <div class="mb-3">
      <label for="restaurant-location" class="form-label">地址</label>
      <input type="text" class="form-control" name="location" id="restaurant-location" placeholder="餐廳地址" required>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <label for="restaurant-phone" class="form-label">電話</label>
      <input type="text" class="form-control" name="phone"  id="restaurant-phone" placeholder="餐廳電話" required>
      <div class="valid-feedback"></div>
      <div class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
      <label for="restaurant-map" class="form-label">Google 地圖</label>
      <input type="url" class="form-control" name="google_map"  id="restaurant-map" placeholder="google 地圖網址" required>
    </div>
    <div class="mb-3">
      <label for="restaurant-rating" class="form-label">評分</label>
      <input type="number" class="form-control" name="rating" id="restaurant-rating" placeholder="評分，0.1~5" required>
    </div>
    <div class="mb-3">
      <label for="restaurant-description" class="form-label">餐廳介紹</label>
      <textarea name="description" id="restaurant-description" rows="5" class="form-control" placeholder="坐落於四軒茶屋的一處清靜的小巷，具有昭和復古感的裝潢，襯托著咖啡的香氣..." required></textarea>
    </div>
    <button id="submit-btn" class="btn btn-success" type="submit">確定新增</button>
    <a href="/" class="btn btn-primary">返回首頁</a>
  </form>
</div>
